.selectable.ui-selecting { background : #FECA40 ; }
.selectable.ui-selected { background : #F39814 ; color : white ; }
.selectable { list-style-type : none ; margin : 0 ; padding : 0 ; }
.selectable li { margin : 3px ; padding : 1px ; float : left ; font-size : smaller ; text-align : center ; }