        th { text-align:center }
        td { text-align:center }
        input { text-align:center }
        .warning { border: 5px solid; width: 80%; height: 50px; font-size: 115%; margin-bottom: 20px;}