@main("LINGOturk") {

    <script>
    if (typeof String.prototype.startsWith != 'function') {
      String.prototype.startsWith = function (str){
        return this.slice(0, str.length) == str;
      };
    }
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"> </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/CSV_Parser.js")"> </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentCreation/PlausibilityExperiment/createPlausibilityExperiment.js")"> </script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
    @** used as anchor for angular.js **@
    <div id="angularApp" ng-app="StoryCompletionExperiment" ng-controller="QuestionController as questctrl">

        <p> Create new <strong>Plausibility</strong> experiment: </p>

        <form id="formular" ng-submit="questctrl.submitExperiment()" method="POST" role="form">


            <div style="margin-top : 10px ; margin-bottom : 100px ; padding : 5px" id="tabs">

                @********

                List all tabs

                ********@

                <ol>
                    <li><a href="#fragment-1">Main</a></li>
                    <li><a href="#fragment-2">Example Sentences</a></li>
                    <li><a href="#fragment-3">Questions</a></li>
                </ol>

                @********

                Name, Name for MTurk, Description

                ********@

                <div id="fragment-1">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="questctrl.name" type="text" class="form-control" name="name" id="name" placeholder="Experiment Name">
                    </div>

                    <div class="form-group">
                        <label for="name">Name on AMT</label>
                        <input ng-model="questctrl.nameOnAmt" type="text" class="form-control" name="nameOnAmt" id="nameOnAmt" placeholder="Name on AMT">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea ng-model="questctrl.description" type="text" class="form-control" name="description" id="description"
                        placeholder="Experiment Description" cols="50" rows="5"></textarea>
                    </div>
                </div>

                @********

                Example Sentences

                ********@

                <div id="fragment-2">
                    <div class="form-group">
                        <label> Additional explanations</label>
                        <textarea ng-model="questctrl.additionalExplanations" rows="4" cols="50" class="form-control" name="additionalExplanations"></textarea>
                    </div>

                    <div class="form-group">

                    </div>
                </div>

                @********

                Questions

                ********@

                <div id="fragment-3">
                    <div id="allquestions">
                        <ul ng-repeat="part in questctrl.parts track by $index">
                            <li ng-repeat="chunk in part.chunks" style="margin-bottom:15px">
                                {{chunk.number}} : {{chunk.pictures}}<br/>
                            </li>
                        </ul>
                    </div>

                    @********

                    CSV Input

                    ********@

                    <input type="file" id="fileQuestions" style="display : none ;" multiple>
                    <button type="button" class="invisible btn btn-default" id="templateTriggerQuestions" ng-click="questctrl.loadQuestions()"></button>
                    <button type="button" class="btn btn-default" ng-click="questctrl.resetParts()" style="margin-top : 10 px">Reset Parts </button>
                    <button type="button" class="btn btn-default" id="QuestionCSVButton" style="margin-top : 10 px">Load files </button>

                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-default" style="float : right ; margin-bottom : 70px">Save in Database</button>
            </div>
        </form>

    </div>

}