@main("Experiment creation interface"){
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentManagement/experimentCreationInterface.js")"></script>
    <style>
    .div-wrapper {
        overflow: auto;
        padding : 10px;
    }
    .interfaceContainer {
        margin-top : 10px ;
        margin-bottom : 10px ;
        padding : 0px;
    }
    #container{
        background-color: rgba(74, 74, 74, 0.6);
        margin-top:15px;
        color:black;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        border: 2px solid #353535;
        box-shadow: 3px 3px 10px 0px rgba(122,122,122,1);
        font-size: 15px;
        font-weight: 600;
        color:black
    }
    html > body {
        height: inherit;
    }
    </style>
    <div id="container" ng-app="ExperimentCreationInterface" ng-controller="InterfaceController as IC">
        <div class="div-wrapper">
            <div class="text-center">
                <div id="type-selection" class="btn-group" role="group">
                    <button ng-click="IC.experimentType = 'REUSE'" type="button" class="btn btn-primary active">Create empty experiment type</button>
                    <button ng-click="IC.experimentType = 'IMPORT'" type="button" class="btn btn-primary">Import from .ZIP</button>
                </div>
            </div>
            <div ng-if="IC.experimentType == 'NEW' || IC.experimentType == 'REUSE'" class="interfaceContainer">
                <div class="form-group">
                    <label for="newTypeName">Experiment type name</label>
                    <input id="newTypeName" type="text" class="form-control" ng-model="IC.newTypeName">
                </div>

                <label for="itemType">Item type:</label>
                <div id="itemType" class="form-group">
                    <div class="radio">
                        <label><input type="radio" value="FullGroup" ng-model="IC.sourceGroupName" name="sourceGroupName" checked>Participants should do all of the items in a list <strong>(default)</strong></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="PoolGroup" ng-model="IC.sourceGroupName" name="sourceGroupName">Participants should be able to see multiple items in a list</label>
                    </div>
                </div>

                <label for="listType">List type:</label>
                <div for="listType" class="form-group">
                    <div class="radio">
                        <label><input type="radio" value="MULTIPLE LISTS" ng-model="IC.sourceListType" name="sourceListType" checked>Participants can do as many lists as they want <strong>(default)</strong></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="DISJOINT LISTS" ng-model="IC.sourceListType" name="sourceListType">Participants can do <strong>only</strong> one list</label>
                    </div>
                </div>

                <hr style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);"/>

                <strong style="margin-bottom:20px;margin-top:20px; display:block;">Fields:</strong>

                <div style="margin-bottom: 20px;" ng-repeat="field in IC.questionFields track by $index" class="form-group">
                    <div style="float:left; width: 8%">
                        <button ng-click="IC.removeField(field)" style="margin-top: 25%;" class="btn btn-default">-</button>
                    </div>
                    <div style="float:right; width: 92%">
                        <label id="{{field + $index}}"><input placeholder="field {{$index}} name" style="border:none; font-weight: bolder; -webkit-box-shadow: none;box-shadow: none;-webkit-transition: none;" type="text" class="form-control" ng-model="field.name"></label><span style="color: red" ng-if="field.name.trim() != '' && !IC.isAlphaNumeric(field.name.trim())"><strong>Warning!</strong> Field names must be alphanumeric and have to start with a letter!</span>
                        <select class="form-control" ng-model="field.type" ng-options="type.val as type.name for type in IC.types" id="{{field + $index}}">
                            <option disabled="disabled"selected value> -- select field -- </option>
                        </select>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div style="text-align:center">
                    <button ng-click="IC.addField()" class="btn btn-primary">+</button>
                </div>

                <hr/>
                <div>
                    <a href="/overviewPage" class="btn btn-primary" style="float:left">Back to overview</a>
                    <button ng-click="IC.submit()" ng-disabled="!IC.checkInput()" type="button" class="btn btn-success" style="float:right">Create experiment type</button>
                </div>
            </div>

            <div  ng-if="IC.experimentType == 'IMPORT'">
                <form action="/importExperimentType" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="newTypeName">Load ZIP:</label>
                        <input name="experimentData" id="fileInput" type="file" class="form-control" onchange="if ($(this).val() != ''){$('#importSubmitButton').removeAttr('disabled');} else {$('#importSubmitButton').attr('disabled','disabled');}">
                    </div>
                    <button id="importSubmitButton" type="submit" class="btn btn-success" disabled="disabled" style="float:right">Import</button>
                </form>
            </div>
        </div>
    </div>
}