@(experiment : LingoExpModel)
@views.html.ExperimentRendering.experiment_main(null){
    <link type="text/css" href="@routes.Assets.at("stylesheets/ExperimentRendering/LinkingV2Experiment/LinkingV2Experiment_preview.css")">
    <div style="width:100%;height:100%;">
        <div class="panel panel-primary" style="width:90%;margin: 0 auto; margin-top:3%;margin-bottom:3%">
            <div class="panel-heading" style="font-size: 16px">
                Instructions to workers
            </div>
            <div class="panel-body">
                <span class="label label-important" style="background-color: #b94a48;display:block;margin-bottom:15px;font-size:100%">Please go through all the 4 examples below to understand the task</span>
                <pre style="word-break: normal;font-size: 15px;">You will be presented with two descriptions of an everyday activity e.g. eating in a fast food restaurant. Each description consists of a sequence of sentences depicting events which are part of the activity.
                    Two sentences will be <span style="background-color: #B7F7B2;">highlighted</span>, one in the first description and another in the second description. Please indicate whether or not the two sentences are similar and represent the same event. For example <strong>"leave restaurant"</strong> in the first description and <strong>"drive out of restaurant"</strong> in the second description represent the same event and are considered to be similar. </pre>

                <label for="example1">
                    Example 1
                </label>
                <div style="margin-bottom: 20px" id="example1">
                    <img style="width:100%" src="@routes.Assets.at("images/linkingPreview/example1_v2.PNG")">
                </div>

                <pre style="word-break: normal;font-size: 15px;">
                    If you think the two sentences are not similar, please link the highlighted sentence in the first description to the most similar sentence in the second description.
                    For example, <strong>"choose food to order"</strong> in the first description is not similar to <strong>"order meal option with server"</strong> from the second description. Thus <strong>"choose food to order"</strong>, is linked to <strong>"decide what you want"</strong> in the second description.
                </pre>

                <label for="example2">
                    Example 2
                </label>
                <div style="margin-bottom: 20px" id="example2">
                    <img style="width:100%" src="@routes.Assets.at("images/linkingPreview/example2_v2.PNG")">
                </div>


                <pre style="word-break: normal;font-size: 15px;">
                    If think the two sentences are not similar, and you do not find a most similar sentence in the second description, please indicate at which point the highlighted event in the first description would typically take place in the second description.

                    For example, <strong>"wait for meal"</strong> is not similar to <strong>"eat meal"</strong> but typically occurs after <strong>"order meal option with server"</strong> and before <strong>"receive meal from server"</strong>. Thus <strong>"wait for meal"</strong> is linked to the space between <strong>"order mean option with server"</strong> and <strong>"receive meal from server"</strong>
                </pre>

                <label for="example3">
                    Example 3
                </label>
                <div style="margin-bottom: 20px" id="example3">
                    <img style="width:100%" src="@routes.Assets.at("images/linkingPreview/example3_v2.PNG")">
                </div>



                <pre style="word-break: normal;font-size: 15px;">
                    If think the two sentences are not similar, and you do not find a similar sentence in the second description or a point in the second description where the highlighted sentence in the first description would typically take place, please link the highlighted sentence in the first description to <strong>"No Linking Possible"</strong>.
                    For example, <strong>"server brings change"</strong> is not similar to <strong>"server bring charge receipt"</strong> and <strong>"server brings change"</strong> typically happens after one pays, but there is no position before or after <strong>"place credit card in holder"</strong>, <strong>"server will pick up payment"</strong> and <strong>"server brings charge slip"</strong> where it would take place. Thus <strong>"server brings change"</strong> is linked to <strong>"No Linking Possible"</strong>
                </pre>

                <label for="example4">
                    Example 4
                </label>
                <div style="margin-bottom: 20px" id="example4">
                    <img style="width:100%" src="@routes.Assets.at("images/linkingPreview/example4_v2.PNG")">
                </div>

            </div>
        </div>
    </div>
}
