@main("LINGOturk") {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"> </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentCreation/RephrasingExperiment/createRephrasingExperiment.js")"> </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/CSV_Parser.js")"> </script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/Experiments/NewExperiment.css")">

    @** used as anchor for angular.js **@
    <div id="angularApp" ng-app="DC_DND" ng-controller="QuestionController as questctrl">

        <p> Create new <strong>Rephrasing</strong> experiment: </p>

        <form id="formular" ng-submit="questctrl.submitExperiment()" method="POST" role="form">


            <div style="margin-top : 10px ; margin-bottom : 100px ; padding : 5px" id="tabs">

                @********

                List all tabs

                ********@

                <ol>
                    <li><a href="#fragment-1">Main</a></li>
                    <li><a href="#fragment-2">Example Sentences</a></li>
                    <li><a href="#fragment-3">Questions</a></li>
                </ol>

                @********

                Name, Name for MTurk, Description

                ********@

                <div id="fragment-1">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="questctrl.name" type="text" class="form-control" name="name" id="name" placeholder="Experiment Name">
                    </div>

                    <div class="form-group">
                        <label for="name">Name on AMT</label>
                        <input ng-model="questctrl.nameOnAmt" type="text" class="form-control" name="nameOnAmt" id="nameOnAmt" placeholder="Name on AMT">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea ng-model="questctrl.description" type="text" class="form-control" name="description" id="description"
                        placeholder="Experiment Description" cols="50" rows="5"></textarea>
                    </div>
                </div>

                @********

                Example Sentences

                ********@

                <div id="fragment-2">
                    <div class="form-group">
                        <label> Additional explanations</label>
                        <textarea ng-model="questctrl.additionalExplanations" rows="4" cols="50" class="form-control" name="additionalExplanations"></textarea>
                    </div>

                    <div class="form-group">
                        <table class="table" width="100%" style="margin-top : 10px">
                            <tr> <th> Sentence </th>  <th> Question </th> <th> Restatement </th> <th> Answer </th> </tr>
                            <tr ng-repeat="exampleQuestion in questctrl.exampleQuestions track by $index">
                                <td> <input ng-model="exampleQuestion.sentence" type="text" class="form-control" placeholder="sentence"> </td>
                                <td> <input ng-model="exampleQuestion.question" type="text" class="form-control" placeholder="question"> </td>
                                <td> <input ng-model="exampleQuestion.restatement" type="text" class="form-control" placeholder="restatement"> </td>
                                <td>
                                    <div class="btn-group">
                                        <div class="radio-inline">
                                            <label><input type="radio" data-ng-value="true" data-ng-model="exampleQuestion.answer">
                                                yes</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label><input type="radio" data-ng-value="false" data-ng-model="exampleQuestion.answer">
                                                no</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                @********

                Questions

                ********@

                <div id="fragment-3">

                    @********

                    Manual Input

                    ********@

                    <div id="allquestions">
                        <h3 ng-repeat-start="part in questctrl.parts track by $index">Part {{$index}}</h3>
                        <div class="repeatBody" ng-repeat-end>
                            <table class="table table-over" width="100%">
                                <thead>
                                    <tr> <th>Sentence1</th> <th>Question1</th> <th>Sentence2</th> <th>Question2</th> <th></th> </tr>
                                </thead>

                                <tbody ng-repeat="quest in part.questions track by $index">
                                    <tr class="question">
                                        <td><input type="text" class="form-control eingabe" placeholder="Sentence1" ng-model="quest.sentence1"></td>
                                        <td><input type="text" class="form-control eingabe" placeholder="Question1" ng-model="quest.question1"></td>
                                        <td><input type="text" class="form-control eingabe" placeholder="Sentence2" ng-model="quest.sentence2"></td>
                                        <td><input type="text" class="form-control eingabe" placeholder="Question2" ng-model="quest.question2"></td>
                                        <td>
                                            <img ng-click="questctrl.removeQuestion(part,quest)" style="opacity : 0.01 ; margin-left : auto ; margin-right : auto ;" src="@routes.Assets.at("images/trash.png")">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            @********

                            Button to add to Table

                            ********@

                            <label style="margin-top : 20px">Add Question:</label>
                            <table class="table" width="100%" style="margin-top : 10px"><tr>
                                <td><input type="text" ng-model='questctrl.parts[$index].newSentence1' class="form-control eingabe" placeholder="Sentence1"></td>
                                <td><input type="text" ng-model='questctrl.parts[$index].newQuestion1' class="form-control eingabe" placeholder="Question1"></td>
                                <td><input type="text" ng-model='questctrl.parts[$index].newSentence2' class="form-control eingabe" placeholder="Sentence2"></td>
                                <td><input type="text" ng-model='questctrl.parts[$index].newQuestion2' class="form-control eingabe" placeholder="Question2"></td>
                            </tr></table>

                            <button type="button" class="btn btn-default" ng-click="questctrl.addQuestion(part)" style="margin-top : 10px">Add</button>
                            <button type="button" class="btn btn-default" ng-click="questctrl.resetPart(part)" style="margin-top : 10px">Reset</button>
                            <button type="button" class="btn btn-default" ng-click="questctrl.removePart(part)" style="margin-top : 10px">Delete part</button>
                        </div>
                    </div>

                    @********

                    CSV Input

                    ********@

                    <input type="file" class="btn btn-default" id="fileQuestions" style="display:none;">
                    <button type="button" class="invisible btn btn-default" id="templateTriggerQuestions" ng-click="questctrl.loadQuestions()"></button>
                    <button type="button" class="btn btn-default" ng-click="questctrl.newPart()" style="margin-top : 10px">Add Part </button>
                    <button type="button" class="btn btn-default" ng-click="questctrl.resetParts()" style="margin-top : 10px">Reset Parts </button>
                    <button type="button" class="btn btn-default" id="QuestionCSVButton" style="margin-top : 10px">Load .csv </button>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-default" style="float : right ; margin-bottom : 70px">Save in Database</button>
            </div>
        </form>

    </div>

}