.list-inline > li {
    margin: 5px;
    padding : .4em 1em !important;
    text-align: center;
    border : 1px solid #cccccc;
    border-radius: 5px;
    background : #f6f6f6 url("/assets/images/jQueryUI/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
    font-weight : bold;
    color : #1c94c4 ;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.5);
}

.list-inline {
    text-align : center;
}

ul {
    min-height: 40px
}

.deleteMe{background:#FF0000}

.pointer {
    cursor: pointer !important;
}

.normal {
    cursor : auto !important;
}

.no-drop {
    cursor : no-drop !important;
}

.allow-drop {
    cursor : move !important;
}

.btn {
    display : block;
    margin : 2% auto;
}