@main("LINGOturk") {
	<script>
		jQuery(function ($) {
			$('[rel=tooltip]').tooltip({delay: { show: 500, hide: 300 }} );
		})
	</script>
	
    <div style="margin: 0 auto !important;">
		<div style="margin: 0 auto; text-align: center; font-size: 35px">
			<a href="http://www.mmci.uni-saarland.de/en/start"><img src="/assets/images/logos/m2ci_logo_rz_rgb_transparent.png" style="display: inline-block; width: 20% ;"></a>
			<a href="http://www.uni-saarland.de/nc/en/home.html"><img src="/assets/images/logos/UdSLogo_transparent.png" style="display: inline-block; width: 20% ;"></a>
		</div>

		<span style="display: block; text-align: center; margin-bottom: 30px; margin-top: 25px; font-weight: 600; font-size: 25px; font-family: 'Roboto Slab', serif;">Welcome to the <span style="color: #8600b3; font-weight:800; font-size:24px">LINGO</span><i style="color: #8600b3; font-weight:600">turk</i> administration interface!</span>

		<a href="overviewPage" class="noLinkColor" style="margin-top:5%">
			<div class="navBox" rel="tooltip" data-original-title="Click to create a new experiment prototype!">
				<b>Create experiment</b>
			</div>
		</a>
		<a href="manage" class="noLinkColor">
			<div class="navBox" rel="tooltip" data-original-title="Click to publishOnAMT and modify existing experiment prototypes!">
				<b>Manage existing experiments</b>
			</div>
		</a>
		<a href="settings" class="noLinkColor">
			<div class="navBox" rel="tooltip" data-original-title="Click to change the account settings!">
				<b>Settings</b>
			</div>
		</a>
	</div>
}
