@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">

		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logos/favicon.png")">

		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootbox.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/CSV_Parser.js")"> </script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/Lingoturk.js")"> </script>

		<script>
		if (typeof String.prototype.startsWith != 'function') {
			String.prototype.startsWith = function (str){
				return this.slice(0, str.length) == str;
			};
		}
    	</script>
		<style>
			.nav.navbar-nav > li:hover{
				background-color: #616060;
			}
		</style>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
			<div class="navbar-header" style="float:right;">
			  <span class="navbar-brand"><b>LINGO</b><i>turk</i></span>
			</div>		 
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
			  	<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>	

		</div>

		<div class="container" style="margin-right:auto; margin-left:auto; margin-top: 50px; padding-bottom: 70px;">

			@content
		
		</div><!-- /.container -->

		<!-- footer -->
		<div class="navbar navbar-fixed-bottom navbar-inverse">
			<div class="container">
				<p style="margin-top: 15px; float: right;color: #999999; ">&copy; 2013-2017 Saarland University</p>
			</div>
		</div>
	</body>
</html>
