<div style="height: 100% ; width: 100%; display: table">
        <div ng-if="RC.showMessage == 'none'" style="display: table-cell ; height: 100% ; vertical-align: middle ;">
            <div ng-if="RC.state == 'instructionsSlide'" class="panel panel-primary" style="width:90%; margin:auto">
                <div class="panel-heading" style="font-weight: bolder ;">Instructions</div>
                <div class="panel-body">
                    @_SHOW_INSTRUCTIONS_@

                    <div class="checkbox" style="margin-top:50px">
                        <label><input type="checkbox" ng-model="RC.readThemAll"><strong>I have read them all.</strong></label>
                    </div>
                    <button ng-disabled="!RC.readThemAll" ng-click="RC.next()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                </div>
            </div>

            <div ng-init="RC.startWait()" ng-if="RC.state == 'instructions1Slide'" class="panel panel-primary" style="width:90%; margin:auto;">
                <div class="panel-heading" style="font-weight: bolder ;">Instructions</div>
                <div class="panel-body">
                    <div ng-if="RC.part.fileName == 'bath.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>take a bath</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>took a bath</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>
                    </div>
                    <div ng-if="RC.part.fileName == 'library.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>borrow a book from a library</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>borrowed a book from a library</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>
                    <div ng-if="RC.part.fileName == 'bicycle.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>fix a flat tire</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>fixed a flat tire</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>
                    <div ng-if="RC.part.fileName == 'bus.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>take a bus</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>took a bus</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>
                    <div ng-if="RC.part.fileName == 'flight.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>take a flight</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>took a flight</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>
                    <div ng-if="RC.part.fileName == 'tree.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>plant a tree</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>planted a tree</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>
                    </div>
                    <div ng-if="RC.part.fileName == 'train.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>take a train</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>took a train</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>
                    <div ng-if="RC.part.fileName == 'grocery.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>go grocery shopping</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>went grocery shopping</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>
                    <div ng-if="RC.part.fileName == 'haircut.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>go for a haircut</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>went for a haircut</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>
                    </div>
                    <div ng-if="RC.part.fileName == 'cake.csv'">
                        <div align="center" vertical-align="middle">
                            In the following questions we will consider the situation where people <strong>bake a cake</strong>.
                            <br/><br/>
                            Now please take half a minute to recall the complete process of the last time you <strong>baked a cake</strong>.
                        </div>
                        <style>
                                div {
                                    font-size: 18px;
                                }
                        </style>

                    </div>

                    <div style="float:right ; margin-top:20px">
                        <strong ng-if="RC.wait > 0">{{RC.wait}}</strong>
                        <button ng-disabled="RC.wait > 0" ng-click="RC.next()" type="button" class="btn btn-default">Next</button>
                    </div>
                </div>
            </div>

            <div ng-if="RC.state == 'workerIdSlide'" class="panel panel-primary" style="width:90%; margin:auto">
                <div class="panel-heading" style="font-weight: bolder ;">Please enter your workerId into the box below:</div>
                <div class="panel-body">
                    <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control" placeholder="enter here">
                    <button ng-click="RC.next()" type="button" ng-disabled="RC.workerId == ''" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                </div>
            </div>

            <div ng-if="RC.state == 'statisticsSlide'">
                <statistics-slide statistics="RC.statistics" click="RC.next"></statistics-slide>
            </div>

            <div id="experiment_content" ng-if="RC.state == 'questionSlide' && RC.currentQuestion == question" ng-repeat="question in RC.questions track by $index" style="width:90%; margin:auto">
                <!-- the main content of the experiment goes here -->
                <div id="experiment_panel_1" class="panel panel-primary">
                    <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">{{question.text}}</div>
                    <div id="experiment_body_1" class="panel-body">

                        Which of the following events does <i>{{question.label}}</i> <b>directly</b> make easier or possible?
                        <hr/>
                        <checkbox-answer answer="question.answer"
                        add-none="true"
                        options="question.options"
                        descriptions="question.descriptions"
                        >
                        </checkbox-answer>

                        <button ng-disabled="question.answer === undefined || question.answer == '' || question.answer == {} || (!RC.checkAnswer(question.answer))" ng-click="RC.nextQuestion()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                    </div>
                </div>
                <!-- /the main content of the experiment goes here -->
            </div>
        </div>

        <div ng-if="RC.showMessage == 'nextSubList'" style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
            <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div style="width:90%; margin:auto">
                    <!-- <this message is shown if a user successfully finished a sublist> -->
                    <div class="panel panel-primary">
                        <!-- <the message's heading> -->
                        <div class="panel-heading" style="font-weight: bolder ;" id="nextSubList_title">Attention:</div>
                        <!-- </the message's heading> -->
                        <div class="panel-body">
                            <!-- <the message content> -->
                            <div id="nextSubList_message">
                                You've successfully completed a sublist. You may either stop here or continue with another one.
                            </div>
                            <!-- </the message content. please don't edit the buttons below (except their label)> -->
                            <hr/>
                            <button ng-click="RC.processFinish()" style="float:right; margin-left: 10px;" class="btn btn-default" type="button">Stop here</button>
                            <button ng-click="RC.nextSublist()" style="float:right" class="btn btn-default" type="button">Continue</button>
                        </div>
                    </div>
                    <!-- </this message is shown if a user successfully finished a sublist> -->
                </div>
            </div>
        </div>

        <div ng-if="RC.showMessage == 'goodBye'" style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
            <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div style="width:90%; margin:auto">
                    <div class="panel panel-primary">
                        <div id="goodBye_title" class="panel-heading" style="font-weight: bolder ;">Attention:</div>
                        <div class="panel-body">
                            <div id="goodBye_message">
                                You've successfully completed the experiment. Thank you for your participation. To hand in your submission, click on the "Submit"-button below.
                            </div>
                            <hr/>
                            <button ng-click="RC.finished()" style="float:right" class="btn btn-default" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>