<style>
    .add-margin {
        margin-top:10px !important;
    }
</style>
<div>
    <div ng-init="loaded()" ng-class="{'add-margin': descriptionsAvailable}" class="checkbox" ng-repeat="opt in options track by $index">
        <label>
            <input ng-disabled="answer['none']" type="checkbox" ng-model="answer[opt]" ng-true-value="true" ng-false-value="false" name="checkbox-answer-input">
            <span>{{opt}}</span><br/>
            <span><i>{{descriptions[$index]}}</i></span>
        </label>
    </div>
    <div ng-if="addNone" class="checkbox" style="margin-top:20px">
        <label>
            <input type="checkbox" ng-model="answer['none']" ng-true-value="true" ng-false-value="false" name="checkbox-answer-input">
            none of these
        </label>
    </div>
</div>