<div id="workerIdSlide" class="panel panel-primary" style="width:90% ; margin:auto ; display:none">
    <div class="panel-heading" style="font-weight: bolder ;">
        Please enter your workerId into the box below:
    </div>
    <div class="panel-body">
        <input id="workerId" name="workerId" type="text" class="form-control textInput" placeholder="enter here">

        <button id="workerIdButton" type="button" disabled="disabled" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
    </div>
</div>