@(exampleQuestion: models.Questions.RephrasingExperiment.RephrasingExampleQuestion)
<html>
    <head>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/Experiments/DragNDrop.css")" />

        <script type="text/javascript">
            $(document).ready(function(){
                var slides = ["#sentenceSlide","#questionSlide","#repetitionSlide"];
                var run = function(){
                    $("#sentenceSlide").show();
                    setTimeout(function(){
                        $("#sentenceSlide").hide();
                        $("#questionSlide").show();
                        setTimeout(function(){
                            $("#questionSlide").hide();
                            $("#repetitionSlide").show();
                            setTimeout(function(){
                                $("#repetitionSlide").hide();
                            },7000)
                        },5000);
                    },7000);
                };

                run();
                setInterval(function(){
                    run();
                },19000);
            })
        </script>
    </head>
    <body style="margin : 10% 12% 10% ;">
        <div id="sentenceSlide" class="panel panel-primary" style="display : none">
            <div class="panel-heading">Please read the following sentence:</div>
            <div class="panel-body">
                <div class="form-group">
                    <blockquote id="sentence" style="font-size : 112 % ;">
                    @exampleQuestion.getSentence
                    </blockquote>
                </div>
                <button type="button" disabled="disabled" class="btn btn-default" style="float : right">continue</button>
            </div>
        </div>
        <div id="questionSlide" class="panel panel-primary slide" style="display : none">
            <div class="panel-heading">Please answer the following question: </div>
            <div class="panel-body question">
                <div class="form-group">
                    <blockquote id="sentence" style="padding-right : 0px">
                        @exampleQuestion.getQuestion
                        <div class="btn-group" style="float : right ;">
                        @if(exampleQuestion.getAnswer) {
                            <div class="radio-inline">
                                <label><input disabled=disabled type="radio" checked>yes</label>
                            </div>
                            <div class="radio-inline">
                                <label><input disabled=disabled type="radio" >no</label>
                            </div>
                        } else {
                            <div class="radio-inline">
                                <label><input disabled=disabled type="radio" >yes</label>
                            </div>
                            <div class="radio-inline">
                                <label><input disabled=disabled type="radio" checked>no</label>
                            </div>
                        }
                        </div>
                    </blockquote>
                </div>
                <button type="button" disabled="disabled" class="btn btn-default" style="float : right ; margin-top : 20 px">
                    continue</button>
            </div>
        </div>
        <div id="repetitionSlide" class="panel panel-primary slide" style="display : none">
            <div class="panel-heading">
                Please rephrase the original sentence in your own words using 2 or 3 short, clear, simple sentences. </div>
            <div class="panel-body question">
                <div class="form-group">
                    <blockquote id="sentence" style="border-right : 5px solid #FF9500 ;">
                        <textarea type="text" class="form-control" style="resize : none" disabled="disabled">@exampleQuestion.getRestatement</textarea>
                    </blockquote>
                </div>
                <button type="button" disabled="disabled" class="btn btn-default" style="float : right ; margin-top : 20px">
                    continue</button>
            </div>
        </div>
    </body>
</html>