@(question : models.Questions.Question, part : models.Groups.AbstractGroup, worker: Worker, assignmentId: String, hitId: String, turkSubmitTo: String, exp: LingoExpModel, df: play.data.DynamicForm, origin: String)
    <html>

        <head>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
            <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentRendering/SentenceCompletionExperiment/SentenceCompletionExperiment_render.js")"></script>
            <input type="hidden" id="expId" value="@exp.getId()">
            <style type="text/css">
            hr {
                border-style: solid none;
                border-width: 1px 0;
                margin-top: 25px;
                margin-bottom: 30px;
                border-color: darkgrey;
            }
            textarea {
                resize: none;
            }
            li {
                margin-bottom: 7px;
            }
            </style>
        </head>

        <body style="height : 100% " id="angularApp" ng-app="StoryCompletion" ng-controller="RenderController as RC">
            <form method="POST" id="form">
                <div style="height: 100%; width: 100%; display: table;">
                    <div style=" display: table-cell; height: 100%; vertical-align: middle;">
                        <div  id="instructionsSlide" class="panel panel-primary" style="width:90%;margin:auto">
                            <div class="panel-heading" style="font-weight: bolder;">
                                Instructions
                            </div>
                            <div class="panel-body">
                                @Html(exp.getAdditionalExplanations())
                                <button id="instructions" onclick="$('#instructionsSlide').hide();$('#workerIdSlide').show();" type="button" class="btn btn-default" style="float:right;margin-top:20px">Next</button>
                            </div>
                        </div>

                        <div id="workerIdSlide" class="panel panel-primary" style="width:90%;margin:auto;display:none">
                            <div class="panel-heading" style="font-weight: bolder;">
                                Please enter your workerId into the box below:
                            </div>
                            <div class="panel-body">
                                <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control textInput" placeholder="enter here">
                                <button ng-click="RC.startExperiment()" type="button" disabled="disabled" class="btn btn-default" style="float:right;margin-top:20px">Next</button>
                            </div>
                        </div>

                        <div class="chunk" style="display : none" ng-repeat="question in RC.questions">
                            <div class="panel panel-primary" style="width : 90% ; margin : auto ;">
                                <div class="panel-heading" style="font-weight : bolder ;">
                                    <div><strong style="">{{$index + 1}} / {{RC.questions.length}}</strong></div>
                                </div>
                                <div class="panel-body" style="width : 100%">
                                    <span style="display : block ; margin-top : 15px">{{question.story}}</span>

                                    <hr style="margin-bottom : 15px ; margin-top : 15px"/>
                                        <label>Please enter what you think will come next:</label>
                                        <textarea type="text" ng-model="question.answer" class="form-control textInput"></textarea>
                                    <hr style="margin-bottom : 15px ; margin-top : 15px"/>

                                    <button ng-click="RC.nextPicture($index)" type="button" style="float : right ;" disabled="disabled" class="btn btn-default">Next</button>
                                </div>
                            </div>
                        </div>

                        <div id="statistics" class="panel panel-primary" style="width:90%;margin:auto;display:none">
                            <div class="panel-heading">
                                End note
                            </div>
                            <div class="panel-body">
                                <strong>You have now completed all the stories. Thank you for participating in this study!</strong>

                                <button id="submitButton" type="button" class="btn btn-default" style="float:right;margin-top:20px">Submit</button>
                            </div>
                        </div>

                        <div id="errorSlide" class="panel panel-danger" style="width:90%;margin:auto;display:none">
                            <div class="panel-heading">
                                Error!
                            </div>
                            <div class="panel-body">
                                <strong>Error!</strong>
                                Some internal error happened.<br/>
                                Please report this incident to: florian.pusse@@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </body>
    </html>
