logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
conf/generated.keystore
/RUNNING_PID
project/project
project/target
tmp
.history
dist
/*.iml
/out
conf/evolutions/default/1.sql
conf/backup.sql
backup/