<div style="height: 100% ; width: 100%; display: table">
        <div ng-if="RC.showMessage == 'none'" style="display: table-cell ; height: 100% ; vertical-align: middle ;">
            <div ng-if="RC.state == 'instructionsSlide'" class="panel panel-primary" style="width:90%; margin:auto">
                <div class="panel-heading" style="font-weight: bolder ;">Instructions</div>
                <div class="panel-body">
		    Please write a short, reasonable story of 2 grammatical clauses/sentences joined by the given conjunctional word/phrase.<br>
                    You can add punctuations if necessary.
                    <br><br>
                    <div id="experiment_panel_1" class="panel panel-primary">
                            <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">
                             Example 1</div>
                            <div class="panel-body" style="width : 100%">
                                        <span style="display : block ; margin-top : 15px">and</span>
                                        <hr style="margin-bottom : 15px ; margin-top : 15px"/>
                                        <label>Write a short, reasonable story of 2 grammatical clauses/sentences joined by the above conjunctional word/phrase.</label>
                                        <textarea type="text" ng-model="question.answer" class="form-control textInput"></textarea>
                             </div>
                    </div>
                    <div style="font-weight: bolder">Note:</div>
                         I drink coffee and tea.    <div style="font-weight: bolder; display:inline-block">(Not accepted as 'tea' is not a clause)</div><br>
                         I drink and I know things. <div style="font-weight: bolder; display:inline-block">(Accepted)</div><br>

                    <br>
                    <div id="experiment_panel_1" class="panel panel-primary">
                            <div id="experiment_heading_1" class="panel-heading" style="font-weight: bolder ;">
                             Example 2</div>
                            <div class="panel-body" style="width : 100%">
                                        <span style="display : block ; margin-top : 15px">however</span>
                                        <hr style="margin-bottom : 15px ; margin-top : 15px"/>
                                        <label>Write a short, reasonable story of 2 grammatical clauses/sentences joined by the above conjunctional word/phrase.</label>
                                        <textarea type="text" ng-model="question.answer" class="form-control textInput"></textarea>
                             </div>

                    </div>                        <div style="font-weight: bolder">Note:</div>
                         I did not pay attention.  However, I did the experiment wrong.    <div style="font-weight: bolder; display:inline-block">(Not accepted as the story is not logical.)</div><br>
                         I paid attention. However, I did the experiment wrong. <div style="font-weight: bolder; display:inline-block">(Accepted)</div><br>

                    <button ng-click="RC.next()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                </div>
            </div>

            <div ng-if="RC.state == 'workerIdSlide'" class="panel panel-primary" style="width:90%; margin:auto">
                <div class="panel-heading" style="font-weight: bolder ;">Please enter your workerId into the box below:</div>
                <div class="panel-body">
                    <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control" placeholder="enter here">
                    <button ng-click="RC.next()" type="button" ng-disabled="RC.workerId == ''" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                </div>
            </div>

            <div ng-if="RC.state == 'statisticsSlide'">
                <statistics-slide statistics="RC.statistics" click="RC.next"></statistics-slide>
            </div>

            <div ng-if="RC.state == 'questionSlide' && RC.questionIndex == $index" ng-repeat="question in RC.questions" style="width:90%; margin:auto">
                <!-- <this part can also be replaced by a template or your own ideas> -->
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight : bolder ;">
                        <div><strong style="">{{$index + 1}} / {{RC.questions.length}}</strong></div>
                    </div>
                    <div class="panel-body" style="width : 100%">
			<span style="display : block ; margin-top : 15px">{{question.connective}}</span>
                        <hr style="margin-bottom : 15px ; margin-top : 15px"/>
                        <label> Write a short, reasonable story of 2 grammatical clauses/sentences joined by the above conjunctional word/phrase.</label>
                        <textarea type="text" ng-model="question.answer" class="form-control textInput"></textarea>
                        <hr style="margin-bottom : 15px ; margin-top : 15px"/>

                        <button ng-disabled="question.answer === undefined || question.answer == '' || question.answer == {}" ng-click="RC.nextQuestion()" type="button" class="btn btn-default" style="float:right ; margin-top:20px">Next</button>
                    </div>
                </div>
                <!-- </this part can also be replaced by a template or your own ideas> -->
            </div>
        </div>

        <div ng-if="RC.showMessage == 'nextSubList'" style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
            <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div style="width:90%; margin:auto">
                    <!-- <this message is shown if a user successfully finished a sublist> -->
                    <div class="panel panel-primary">
                        <!-- <the message's heading> -->
                        <div class="panel-heading" style="font-weight: bolder ;">Attention:</div>
                        <!-- </the message's heading> -->
                        <div class="panel-body">
                            <!-- <the message content> -->
                                You've successfully completed a sublist. You may either stop here or continue with another one.
                            <!-- </the message content. please don't edit the buttons below (except their label)> -->
                            <hr/>
                            <button ng-click="RC.processFinish()" style="float:right; margin-left: 10px;" class="btn btn-default" type="button">Stop here</button>
                            <button ng-click="RC.nextSublist()" style="float:right" class="btn btn-default" type="button">Continue</button>
                        </div>
                    </div>
                    <!-- </this message is shown if a user successfully finished a sublist> -->
                </div>
            </div>
        </div>
        <div ng-if="RC.showMessage == 'goodBye'" style="height : 100% ; width : 100% ; display : table ; position: absolute; top: 0; left: 0">
            <div style="display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div style="width:90%; margin:auto">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="font-weight: bolder ;">Attention:</div>
                        <div class="panel-body">
                            You've successfully completed the experiment. Thank you for your participation. To hand in your submission, click on the "Submit"-button below.
                            <hr/>
                            <button ng-click="RC.finished()" style="float:right" class="btn btn-default" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>