@(exp : LingoExpModel)
    <html>

        <head>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
            <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentRendering/StoryCompletionExperiment/StoryCompletionExperiment_render.js")"></script>
            <style type="text/css">
            hr {
                border-style: solid none;
                border-width: 1px 0;
                margin-top: 25px;
                margin-bottom: 30px;
                border-color: darkgrey;
            }
            textarea {
                resize: none;
            }
            li {
                margin-bottom: 7px;
            }
            </style>
        </head>

        <body style="height:100%">
            <form method="POST" id="form">
                <input type="hidden" id="exp" name="exp" value="@exp.getId()">
                <div style="height: 100%; width: 100%; display: table;">
                    <div style=" display: table-cell; height: 100%; vertical-align: middle;">
                        <div  id="instructionsSlide" class="panel panel-primary" style="width:90%;margin:auto">
                            <div class="panel-heading" style="font-weight: bolder;">
                                Instructions
                            </div>
                            <div class="panel-body">
                                <strong style="margin-bottom:10px;display: block;">Dear participant,</strong>
                                <ul style="padding-left:17px;padding-right:5px">
                                    <li>This study consists of 18 stories. Every story consists of three sentences. Your task is to finish the story by writing two sentences in the space provided. You cannot write more than two sentences to complete the stories.

                                        <div style="text-align : center ;margin-top:10px;margin-bottom:10px">
                                            The sentences that you write have to be complete sentences, and preferably longer than two or three words.
                                        </div>
                                    </li>

                                    <li>Write the first completion that comes to mind. Don't add extra humor or creativity to the task.<strong>We are interested in the most obvious completion that occurs to you.</strong></li>

                                    <li><strong>IMPORTANT:</strong> There is no right answer for most items. However, there are some interspersed, unidentified items for which there are correct answers. We will be watching to see how you perform on these. These items are easy: if you read carefully, you are sure to get these right!</li>

                                    <li>Please treat each item separately -- do not try to tie the different passages together into a longer story.</li>

                                    <li>Do not go back and revise earlier continuations.<strong> Please note: if you try to go back in the browser, all your answers will be lost!</strong></li>

                                    <li>Below you will find an example of the task:

                                        <br/>
                                        <label style="margin-top:10px" for="example1">Example:</label>
                                        <pre id="example2">"Mary told me about her two children today. Her oldest son studies at Harvard. He hopes to become a lawyer one day.
Possible answer: <span style="text-decoration : underline ;">Her youngest son is still in high school. He also plans to go to Harvard after finishing high school.</span>
                                        </pre>
                                    </li>
                                </ul>

                                <strong style="text-align : center ;margin-top:20px;display:block;margin-bottom:30px">Once you have read and understood these instructions, click the button below to go to the Story Continuation Study.</strong>
                                <button id="instructions" onclick="$('#instructionsSlide').hide();$('#workerIdSlide').show();" type="button" class="btn btn-default" style="float:right;margin-top:20px">Next</button>
                            </div>
                        </div>

                        <div id="workerIdSlide" class="panel panel-primary" style="width:90%;margin:auto;display:none">
                            <div class="panel-heading" style="font-weight: bolder;">
                                Please enter your workerId into the box below:
                            </div>
                            <div class="panel-body">
                                <input id="workerId" name="workerId" type="text" class="form-control textInput" placeholder="enter here">

                                <button id="workerIdButton" type="button" disabled="disabled" class="btn btn-default" style="float:right;margin-top:20px">Next</button>
                            </div>
                        </div>

                        <div id="statistics" class="panel panel-primary" style="width:90%;margin:auto;display:none">
                            <div class="panel-heading">
                                End note
                            </div>
                            <div class="panel-body">
                                <strong>You have now completed all the stories. Thank you for participating in this study!</strong>

                                <button id="submitButton" type="button" class="btn btn-default" style="float:right;margin-top:20px">Submit</button>
                            </div>
                        </div>

                        <div id="errorSlide" class="panel panel-danger" style="width:90%;margin:auto;display:none">
                            <div class="panel-heading">
                                Error!
                            </div>
                            <div class="panel-body">
                                <strong>Error!</strong>
                                Some internal error happened.<br/>
                                Please report this incident to: florian.pusse@@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </body>
    </html>
