<!DOCTYPE html>
<html>
    <head>
        <title>HIT blocked</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    </head>

    <body>
        <div class="panel panel-warning" style="margin: 10% 12% 10%;">
            <div class="panel-heading" style="color:#000000">HIT blocked:</div>
            <div class="panel-body question">
                <p>We are sorry, but you are blocked.</p>
                However, this doesn't influence your reputation in any way. It just means
                that you are not able to participate in our experiments for some reason.
                <p>Please return the HIT now.</p>
            </div>
        </div>
    </body>
</html>