<!DOCTYPE html>
<html>
    <head>
        <title>HIT blocked!</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    </head>

    <body>
        <div class="panel panel-warning" style="margin: 10% 12% 10%;">
            <div class="panel-heading" style="color:#000000">HIT blocked:</div>
            <div class="panel-body question">
                <p>We are sorry, but you are blocked for this HIT.</p>
                This just means that you already participated in a similar one.
                <p>Please return the HIT now and accept the next one.</p>
            </div>
        </div>
    </body>
</html>