@main("LINGOturk") {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentCreation/DiscourseConnectivesExperiment/createDiscourseConnectivesExperiment.js")"> </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"> </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/CSV_Parser.js")"> </script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
    @****

    Stylesheets for the grid

    ****@
    <style>
    .selectable.ui-selecting { background : #FECA40 ; }
    .selectable.ui-selected { background : #F39814 ; color : white ; }
    .selectable { list-style-type : none ; margin : 0 ; padding : 0 ; }
    .selectable li { margin : 3px ; padding : 1px ; float : left ; font-size : smaller ; text-align : center ; }
    </style>

    @** used as anchor for angular.js **@
    <div id="angularApp" ng-app="DC_DND" ng-controller="QuestionController as questctrl">

        <p> Create new <strong>Discourse connectives</strong> experiment: </p>

        <form id="formular" ng-submit="questctrl.submitExperiment()" method="POST" role="form">


            <div style="margin-top : 10px ; margin-bottom : 100px ; padding : 5px" id="tabs">

                @********

                List all tabs

                ********@

                <ol>
                    <li><a href="#fragment-1">Main</a></li>
                    <li><a href="#fragment-2">Example Sentences</a></li>
                    <li><a href="#fragment-3">Cheater Detection Sentences</a></li>
                    <li><a href="#fragment-4">Questions</a></li>
                </ol>

                @********

                Name, Name for MTurk, Description

                ********@

                <div id="fragment-1">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="questctrl.name" type="text" class="form-control" name="name" id="name" placeholder="Experiment Name">
                    </div>

                    <div class="form-group">
                        <label for="name">Name on AMT</label>
                        <input ng-model="questctrl.nameOnAmt" type="text" class="form-control" name="nameOnAmt" id="nameOnAmt" placeholder="Name on AMT">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea ng-model="questctrl.description" type="text" class="form-control" name="description" id="description"
                        placeholder="Experiment Description" cols="50" rows="5"></textarea>
                    </div>
                </div>

                @********

                Example Sentences

                ********@

                <div id="fragment-2">
                    <div class="form-group">
                        <label> Additional explanations</label>
                        <textarea ng-model="questctrl.additionalExplanations" rows="4" cols="50" class="form-control" name="additionalExplanations"></textarea>
                    </div>

                    <div class="form-group">
                        <label> Example Sentences </label>
                        <table class="table" width="100%" style="margin-top : 10px">
                            <tr> <th> Sentence 1 </th>  <th> Sentence 2 </th> <th> Connectives </th> <th> Possible Connectives</th></tr>
                            <tr>
                                <td> <input ng-model="questctrl.exampleQuestions[0].sentence1" type="text" class="form-control" placeholder="Sentence 1" name="example0_0"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[0].sentence2" type="text" class="form-control" placeholder="Sentence 2" name="example0_1"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[0].connectives" type="text" class="form-control" placeholder="Connective" name="example0_2"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[0].possibleConnectives" type="text" class="form-control" placeholder="Connective" name="example0_3"> </td>
                            </tr>
                            <tr>
                                <td> <input ng-model="questctrl.exampleQuestions[1].sentence1" type="text" class="form-control" placeholder="Sentence 1" name="example1_0"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[1].sentence2" type="text" class="form-control" placeholder="Sentence 2" name="example1_1"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[1].connectives" type="text" class="form-control" placeholder="Connective" name="example1_2"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[1].possibleConnectives" type="text" class="form-control" placeholder="Connective" name="example1_3"> </td>
                            </tr>
                            <tr>
                                <td> <input ng-model="questctrl.exampleQuestions[2].sentence1" type="text" class="form-control" placeholder="Sentence 1" name="example2_0"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[2].sentence2" type="text" class="form-control" placeholder="Sentence 2" name="example2_1"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[2].connectives" type="text" class="form-control" placeholder="Connective" name="example2_2"> </td>
                                <td> <input ng-model="questctrl.exampleQuestions[2].possibleConnectives" type="text" class="form-control" placeholder="Connective" name="example2_3"> </td>
                            </tr>
                        </table>
                    </div>
                </div>

                @********

                Cheater Detection Sentences

                ********@

                <div id="fragment-3">
                    <div class="form-group">
                        <table class="table" width="100%">
                            <thead>
                                <tr> <th>Sentence 1</th> <th>Sentence 2</th> <th>Proposed connectives</th> <th>
                                    Must-not haves</th> <th>Sentence Type</th> <th></th> </tr>
                            </thead>
                            <tbody ng-repeat="quest in questctrl.cheaterDetectionQuestions track by $index">
                                <tr class="question">
                                    <td> <input type="text" class="form-control" ng-model="quest.sentence1" placeholder="Sentence 1"> </td>
                                    <td> <input type="text" class="form-control" ng-model="quest.sentence2" placeholder="Sentence 2"> </td>
                                    <td>
                                        <ol class="selectable" ng-repeat="connective in quest.proposedConnectives track by $index">
                                            <li ng-click="questctrl.removeWord(quest.proposedConnectives, connective)" class="ui-widget-content word">{{connective}}</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol class="selectable" ng-repeat="connective in quest.mustNotHaveConnectives track by $index">
                                            <li ng-click="questctrl.removeWord(quest.mustNotHaveConnectives, connective)" class="ui-widget-content word">{{connective}}</li>
                                        </ol>
                                    </td>
                                    <td> <input type="text" class="form-control" ng-model="quest.sentenceType" placeholder="Sentence Type"> </td>
                                    <td>
                                        <img ng-click="questctrl.removeCheaterDetection(quest)" style="opacity : 0.01 ; margin-left : auto ; margin-right : auto ;" src="@routes.Assets.at("images/trash.png")">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @********

                    CSV Input

                    ********@

                    <input type="file" id="fileCDQuestions">
                    <button type="button" class="btn btn-default invisible" id="templateTriggerCDQuestions" ng-click="questctrl.loadCDQuestions()" style="display : hidden"></button>

                    @********

                    Manual Input

                    ********@

                    <div class="form-group">
                        <label>Add new sentence: </label>
                        <table class="table" width="100%" style="margin-top : 10px"><tr>
                            <td><input type="text" ng-model='questctrl.newCDSentence1' class="form-control eingabe" placeholder="Sentence 1"></td>
                            <td><input type="text" ng-model='questctrl.newCDSentence2' class="form-control eingabe" placeholder="Sentence 2"></td>
                            <td><input type="text" ng-model='questctrl.newProposedConnectives' class="form-control eingabe" placeholder="Proposed connectives"></td>
                            <td><input type="text" ng-model='questctrl.newMustNotHaveConnectives' class="form-control eingabe" placeholder="Must not haves"></td>
                            <td><input type="text" ng-model='questctrl.newCDSentenceType' class="form-control eingabe" placeholder="Sentence Type"></td>
                        </tr></table>

                        <button type="button" class="btn btn-default" ng-click="questctrl.addCheaterDetectionQuestion()" style="margin-top : 10px">
                            Add </button>
                        <button type="button" class="btn btn-default" ng-click="questctrl.resetCheaterDetectionQuestions()" style="margin-top : 10px">
                            Reset </button>
                        <button type="button" class="btn btn-default" id="CDQuestionCSVButton" style="margin-top : 10px"> Load .csv </button>
                    </div>
                </div>

                @********

                Questions

                ********@

                <div id="fragment-4">

                    @********

                    Manual Input

                    ********@

                    <div id="allquestions">
                        <h3 ng-repeat-start="part in questctrl.parts track by $index">Part {{$index}}</h3>
                        <div class="repeatBody" ng-repeat-end>
                            <table class="table table-over" width="100%">
                                <thead>
                                    <tr> <th>ID</th> <th>Sentence 1</th> <th>Sentence 2</th> <th>Sentence Type</th><th></th> </tr>
                                </thead>

                                <tbody ng-repeat="quest in part.questions track by $index">
                                    <tr class="question">
                                        <td><input type="text" class="form-control eingabe" placeholder="ID" ng-model="quest.id"></td>
                                        <td><input type="text" class="form-control eingabe" placeholder="Sentence 1" ng-model="quest.sentence1"></td>
                                        <td><input type="text" class="form-control eingabe" placeholder="Sentence 2" ng-model="quest.sentence2"></td>
                                        <td><input type="text" class="form-control eingabe" placeholder="Sentence Type" ng-model="quest.sentenceType"></td>
                                        <td>
                                            <img ng-click="questctrl.removeQuestion(part,quest)" style="opacity : 0.01 ; margin-left : auto ; margin-right : auto ;" src="@routes.Assets.at("images/trash.png")">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            @********

                            Button to add to Table

                            ********@

                            <label style="margin-top : 20px">Add Question:</label>
                            <table class="table" width="100%" style="margin-top : 10px"><tr>
                                <td><input type="text" ng-model='questctrl.parts[$index].newId' class="form-control eingabe" placeholder="ID"></td>
                                <td><input type="text" ng-model='questctrl.parts[$index].newSentence1' class="form-control eingabe" placeholder="Sentence 1"></td>
                                <td><input type="text" ng-model='questctrl.parts[$index].newSentence2' class="form-control eingabe" placeholder="Sentence 2"></td>
                                <td><input type="text" ng-model='questctrl.parts[$index].newSentenceType' class="form-control eingabe" placeholder="Sentence Type"></td>
                            </tr></table>

                            <button type="button" class="btn btn-default" ng-click="questctrl.addQuestion(part)" style="margin-top : 10px"> Add </button>
                            <button type="button" class="btn btn-default" ng-click="questctrl.resetPart(part)" style="margin-top : 10px"> Reset </button>
                            <button type="button" class="btn btn-default" ng-click="questctrl.removePart(part)" style="margin-top : 10px">Delete part</button>
                        </div>
                    </div>

                    @********

                    CSV Input

                    ********@

                    <input type="file" class="btn btn-default" id="fileQuestions" style="display : hidden ;">
                    <button type="button" class="invisible btn btn-default" id="templateTriggerQuestions" ng-click="questctrl.loadQuestions()"></button>
                    <button type="button" class="btn btn-default" ng-click="questctrl.newPart()" style="margin-top : 10px"> Add Part </button>
                    <button type="button" class="btn btn-default" ng-click="questctrl.resetParts()" style="margin-top : 10px"> Reset Parts </button>
                    <button type="button" class="btn btn-default" id="QuestionCSVButton" style="margin-top : 10px"> Load .csv </button>

                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-default" style="float : right ; margin-bottom : 70px">
                    Save in Database</button>
            </div>
        </form>

    </div>

}