@(experiment : LingoExpModel)
@views.html.ExperimentRendering.experiment_main(null){
    <link type="text/css" href="@routes.Assets.at("stylesheets/ExperimentRendering/LinkingV1Experiment/LinkingV1Experiment_preview.css")">

    <div style="width:100%;height:100%;" >
        <div class="panel panel-primary" style="width:90%;margin: 0 auto; margin-top:3%;margin-bottom:3%">
            <div class="panel-heading" style="font-size: 16px">
                Instructions to workers
            </div>
            <div class="panel-body">
                <span class="label label-important" style="background-color: #b94a48;display:block;margin-bottom:15px;font-size:100%">Please go through all the 6 examples below to understand the task</span>
                <pre style="word-break: normal;font-size: 15px;">You will be presented with two descriptions of an everyday activity e.g. eating in a fast food restaurant. Each description consists of a sequence of sentences depicting events which are part of the activity.
                    Some events in the first description will be <span style="background-color: #F9F8B0;">highlighted</span>. Please choose one of them and link it to the most similar event in the second description.
                    For example, <strong>"order the meal"</strong> in the first description is most similar to <strong>"order meal option with server"</strong> from the second description.
                    Do this for each of the highlighted events. </pre>

                <label for="example1">
                    Example 1
                </label>
                <div style="margin-bottom: 20px" id="example1">
                    <img style="width:100%" src="@routes.Assets.at("images/Experiments/LinkingV1Experiment/example1.PNG")">
                </div>

                <pre style="word-break: normal;font-size: 15px;">If you do not find a similar event in the second description, please indicate at which point the highlighted event would typically take place in the second description. For example, <strong>"wait for meal"</strong> typically occurs after <strong>"order meal option with server"</strong> and before <strong>"receive meal from server"</strong>.</pre>

                <label for="example2">
                    Example 2
                </label>
                <div style="margin-bottom: 20px" id="example2">
                    <img style="width:100%" src="@routes.Assets.at("images/Experiments/LinkingV1Experiment/example2.PNG")">
                </div>

                <pre style="word-break: normal;font-size: 15px;">If you do not find a similar event in the second description or a position in the second description where the highlighted event would typically take place, please link it with <strong>"no linking possible"</strong>.
                    For example, <strong>"server brings change"</strong> typically happens after one pays, but there is no position before or after <strong>"place credit card in holder"</strong>, <strong>"server will pick up payment"</strong> and <strong>"server brings charge slip"</strong> where it would take place.</pre>

                <label for="example3">
                    Example 3
                </label>
                <div style="margin-bottom: 20px" id="example3">
                    <img style="width:100%" src="@routes.Assets.at("images/Experiments/LinkingV1Experiment/example3.PNG")">
                </div>

                <pre style="word-break: normal;font-size: 15px;">Sometimes, the highlighted sentence could depict more than one event. If you think that this it the case, please link it with all the similar events in the second description. For example, <strong>"tip the waiter and leave restaurant"</strong> depicts two events and it is linked to both <strong>"leave tip"</strong> and <strong>"leave restaurant"</strong>.</pre>

                <label for="example4">
                    Example 4
                </label>
                <div style="margin-bottom: 20px" id="example4">
                    <img style="width:100%" src="@routes.Assets.at("images/Experiments/LinkingV1Experiment/example4.PNG")">
                </div>


                <pre style="word-break: normal;font-size: 15px;">Sometimes, the highlighted sentence could depict more than one event, but not all of them may be mentioned in the second description. If you think that this it the case, please link the highlighted sentence to all the mentioned events. For example, <strong>"eat and drink"</strong> depicts two events but only one of them <strong>"eat meal"</strong> is mentioned in the second description.</pre>

                <label for="example5">
                    Example 5
                </label>
                <div style="margin-bottom: 20px" id="example5">
                    <img style="width:100%" src="@routes.Assets.at("images/Experiments/LinkingV1Experiment/example5.PNG")">
                </div>

                <pre style="word-break: normal;font-size: 15px;">Sometimes, the highlighted event in the first description could correspond to more than one event in the second description.

                    If you think that this it the case, please link it with all the corresponding events. For example, the event <strong>"pay the bill"</strong> in the first description could include <strong>"place credit card in holder"</strong>, <strong>"server will pickup payment"</strong>, <strong>"server brings charge slip"</strong>, <strong>"sign slip"</strong> in the second description.</pre>

                <label for="example6">
                    Example 6
                </label>
                <div style="margin-bottom: 20px" id="example6">
                    <img style="width:100%" src="@routes.Assets.at("images/Experiments/LinkingV1Experiment/example6.PNG")">
                </div>
            </div>
        </div>
    </div>
}