@(expId: Int, text: String)

@main("Edit instructions") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <style>
    .container {
        padding-left: 0 ;
        padding-right: 0
    }
    </style>
    <script>
            $(document).ready(function(){
                function h(e) {
                    $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
                }
                $('textarea').each(function () {
                    h(this);
                }).on('input', function () {
                    h(this);
                });

                $("#instructions").on("input",function(){
                    $("#previewBody").html($("#instructions").val());
                });
                $("#previewBody").html($("#instructions").val());
            });
    </script>

    <form action="/submitNewInstructions" method="POST">
        <div style="height: 100% ; width: 100% ; display: table ;">
            <div style=" display: table-cell ; height: 100% ; vertical-align: middle ;">
                <div class="panel panel-primary" style="width:49% ; display:inline-block ; float:left">
                    <div class="panel-heading" style="font-weight: bolder ;">
                        New instructions
                    </div>
                    <div class="panel-body">
                        <input type="hidden" name="expId" value="@expId">
                        <textarea id="instructions" cols="150" name="instructions" type="text" class="form-control textInput">@text</textarea>
                    </div>
                </div>

                <div id="preview" class="panel panel-primary" style="width:49% ; display:inline-block ; float:right">
                    <div class="panel-heading" style="font-weight: bolder ;">
                        Instructions
                    </div>
                    <div class="panel-body">
                        <div id="previewBody">

                        </div>
                        <button type="button" class="btn btn-default" style="float:right ; margin-top:20px" disabled="disabled">Next</button>
                    </div>
                </div>
                <div style='clear:both'></div>
            </div>
        </div>
        <button type="submit" class="textInput btn btn-default" style="float:right ; margin-top:20px">Submit</button>
    </form>
}