@main("Experiment creation interface"){
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentManagement/experimentCreationInterface.js")"></script>
    <style>
    .div-wrapper {
        border-radius: 12px 12px 12px 12px;
        -moz-border-radius: 12px 12px 12px 12px;
        -webkit-border-radius: 12px 12px 12px 12px;
        border: 1px solid #000000;
        box-shadow: 3px 3px 10px 0px rgba(122,122,122,1);
        overflow: auto;
        padding : 10px;
    }
    .interfaceContainer {
        margin-top : 10px ;
        margin-bottom : 10px ;
        padding : 0px;
    }
    </style>

    <div ng-app="ExperimentCreationInterface" ng-controller="InterfaceController as IC">
        <div class="div-wrapper">
            <div ng-if="IC.experimentType == 'NEW' || IC.experimentType == 'REUSE'" class="interfaceContainer">
                <strong style="margin-bottom:20px;margin-top:20px; display:block;">Create empty experiment type:</strong>

                <div class="form-group">
                    <label for="newTypeName">Experiment type name</label>
                    <input id="newTypeName" type="text" class="form-control" ng-model="IC.newTypeName">
                </div>

                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" value="FullGroup" ng-model="IC.sourceGroupName" name="sourceGroupName" checked>Participants should do all of the questions in a list <strong>(default)</strong></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="DisjointGroup" ng-model="IC.sourceGroupName" name="sourceGroupName">Participants should only see one of the questions in a list</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="PoolGroup" ng-model="IC.sourceGroupName" name="sourceGroupName">Participants should be able see multiple questions in a list</label>
                    </div>
                </div>

                <hr style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);"/>

                <strong style="margin-bottom:20px;margin-top:20px; display:block;">Fields:</strong>

                <div style="margin-bottom: 20px;" ng-repeat="field in IC.questionFields track by $index" class="form-group">
                    <label id="{{field + $index}}"><input placeholder="field {{$index}} name" style="border:none; font-weight: bolder; -webkit-box-shadow: none;box-shadow: none;-webkit-transition: none;" type="text" class="form-control" ng-model="field.name"></label>
                    <select class="form-control" ng-model="field.type" ng-options="type.val as type.name for type in IC.types" id="{{field + $index}}">
                        <option disabled="disabled"selected value> -- select field -- </option>
                    </select>
                </div>

                <div style="text-align:center">
                    <button ng-click="IC.addField()" class="btn btn-primary">+</button>
                </div>
            </div>

            <button ng-click="IC.submit()" type="button" class="btn btn-default" style="float:right">Submit</button>
        </div>
    </div>
}