@(experiments: java.util.List[LingoExpModel])

    @main("Manage") {

        <script>
        $ (document).ready ( function ( ) {
            $ ( "#accordion" ).accordion ( ) ;
        });
        function deleteExperiment(nr){
            bootbox.confirm("Are you sure you want to delete this experiment? It will not be possible to restore it afterwards.", function(result) {
                if(result){
                    window.location.href = "/delete?id=" + nr;
                }
            });
        }
        </script>
        <style>
            .experiment-icon {
                float : right ;
                margin-right : 10px ;
                cursor: pointer;
            }
        </style>

        <div id="accordion" style="margin-bottom : 70px">
            <h3>Stored experiments:</h3>
            <div class="row">
                @if(experiments.isEmpty) {
                    <div class="ui-state-highlight ui-corner-all" style="margin-top : 20px ; padding : 0.7em ;">
                        <p><span class="ui-icon ui-icon-info" style="float : left ; margin-right :.3em ;"></span>
                            No experiments saved at the moment.</p>
                    </div>
                } else {
                    @for(exp <- experiments) {
                        <div class="col-md-8 experimentSelection" style="width : 100%; line-height:50px">
                            <div style="float : left ;">
                                @exp.getName
                            </div>

                            <div class="experiment-icon">
                                <a title="download results" href="/extractResult?id=@exp.getId" class="noLinkColor"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                            </div>

                            <div class="experiment-icon">
                                <a title="publish experiment" href="publishingPlatform?expId=@exp.getId" class="noLinkColor"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                            </div>

                            <div class="experiment-icon">
                                <a title="view experiment" href="previewLists?expId=@exp.getId" class="noLinkColor"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            </div>

                            <div class="experiment-icon">
                                <a title="edit instructions" href="editInstructions?expId=@exp.getId" class="noLinkColor"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            </div>

                            <div class="experiment-icon">
                                <a title="delete experiment" onclick="deleteExperiment(@exp.getId)" class="noLinkColor"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    }