@(exp: LingoExpModel)

@main("LINGOturk") {



<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#filediv").slideUp("fast");

        $("input:radio[name='methode']").change(function(){
            if ( $("#fileupload").is(":checked") ){
                $("#filediv").slideDown();
                $("#allquestions").slideUp();
            }
            else{
                $("#allquestions").slideDown();
                $("#filediv").slideUp();
            }
        });


        $("#formular").submit(function(){
            var fu = $("#fileupload");
            if (fu.is(':checked')){
                if($("#datei").val() == ""){
                    alert("Warning! Your file input field is empty!");
                    event.preventDefault();
                }
            }
        });
    });
</script>


<script type="text/javascript">
maxPart = 0;
var tempBox1;
var tempBox2;

function addBox(){

    for(i = 0; i <= maxPart; i++){

        var aktTable = document.getElementById("questions_part" + i);
        var tc = aktTable.rows.length - 2;
        var table_counter = tc + 1;

        var actBox1 = document.getElementById("question" + i + "_" + tc + "_1");
        var actBox2 = document.getElementById("question" + i + "_" + tc + "_2");

        // Test ob neue Zeile hinzugefügt werden muss
        if( (!(actBox1.value.trim() == "")) && (!(actBox2.value.trim() == "")) && (!(actBox3.value.trim() == ""))){
	        var newBox1 = document.createElement("input");
		    with(newBox1){
			    setAttribute("type","text");
			    setAttribute("class","form-control");
			    setAttribute("placeholder","Sentence 1");
			    setAttribute("id","question" + i + "_" + table_counter + "_1");
			    setAttribute("name", "question" + i + "_" + table_counter + "_1");
		    }
			tempBox1 = newBox1;

		    var newBox2 = document.createElement("input");
		    with(newBox2){
			    setAttribute("type","text");
			    setAttribute("class","form-control");
			    setAttribute("placeholder","Sentence 2");
			    setAttribute("id","question" + i + "_" + table_counter + "_2");
			    setAttribute("name","question" + i + "_" + table_counter + "_2");
			    setAttribute("onkeydown","addBox()");
		    }
			tempBox2 = newBox2;

    //Tabelle

    var table = document.getElementById("questions_part" + i);
    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);

    var zelle1 = row.insertCell(0);
    zelle1.appendChild(newBox1);

    var zelle2 = row.insertCell(1);
    zelle2.appendChild(newBox2);
        } /* If - End */


    } /* For-Loop End */
} /* Funcion End */



function addPart(){
	var part = document.getElementById("allquestions");

	part.appendChild(document.createElement("br"));

	var newLabel = document.createElement("label");
	with(newLabel){
		setAttribute("for", "questions_part" + maxPart);
		innerHTML = "Part " + maxPart;
	}

	part.appendChild(newLabel);

	var newTable = document.createElement("table");
	newTable.setAttribute("border", "1");
	newTable.setAttribute("id", "questions_part" + maxPart);
	newTable.setAttribute("width","100%");


	tr = newTable.insertRow();

	var newBox1 = document.createElement("input");
	with(newBox1){
		setAttribute("type","text");
		setAttribute("class","form-control");
		setAttribute("placeholder","Sentence 1");
		setAttribute("id","question" + maxPart + "_" + 0 + "_1");
		setAttribute("name", "question" + maxPart + "_" + 0 + "_1");
	}
	tempBox1 = newBox1;

	var newBox2 = document.createElement("input");
	with(newBox2){
		setAttribute("type","text");
		setAttribute("class","form-control");
		setAttribute("placeholder","Sentence 2");
		setAttribute("id","question" + maxPart + "_" + 0 + "_2");
		setAttribute("name","question" + maxPart + "_" + 0 + "_2");
		setAttribute("onkeydown","addBox()");
	}
	tempBox2 = newBox2;


	var th = document.createElement("th");
	th.appendChild(document.createTextNode("Satz 1"));
	tr.appendChild(th);

	th = document.createElement("th");
	th.appendChild(document.createTextNode("Satz 2"));
	tr.appendChild(th);


	var tr = newTable.insertRow();

	tr.insertCell().appendChild(newBox1);
	tr.insertCell().appendChild(newBox2);

	part.appendChild(newTable);

	maxPart++;

	 $('html, body').animate({scrollTop: $("#mainDiv").height()}, 500);
}

function setBox1(string){
	with(tempBox1){
	setAttribute("value",string);
	}
}

function setBox2(string){
	with(tempBox2){
	setAttribute("value",string);
	}
}


</script>

@*****
<p> Give the name and the input for the experiment </p>
<form action="@routes.Experiments.modifyDiscourseConnectives_PlainText(id)" name="form" method="POST" role="form" enctype="multipart/form-data" id="formular">
    <div style="margin-top: 10px; margin-bottom: 100px; padding: 5px" id="mainDiv">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" value="@exp.getName()" name="name" id="name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" value="@exp.getDescription()" name="description" id="description">
        </div>



        <div class="form-group">
            <label> Example Sentences </label>
            <table border="2" width="100%">
                <tr> <th> Sentence 1 </th>  <th> Sentence 2 </th> <th> Sentence </th> </tr>
                <tr>
                    <td> <input type="text" class="form-control" placeholder="Sentence 1" name="example0_0" value="@exp.getES(0).getSentence1()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Sentence 2" name="example0_1" value="@exp.getES(0).getSentence2()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Connective" name="example0_2" value="@exp.getES(0).getProposedAnswers()"> </td>
                </tr>
                <tr>
                    <td> <input type="text" class="form-control" placeholder="Sentence 1" name="example1_0" value="@exp.getES(1).getSentence1()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Sentence 2" name="example1_1" value="@exp.getES(1).getSentence2()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Connective" name="example1_2" value="@exp.getES(1).getProposedAnswers()"> </td>
                </tr>
            </table>
        </div>


        <div class="form-group" >
            <label> Cheater detection sentences: </label>
            <table border="2" width="100%">
                <tr> <th> Sentence 1 </th>  <th> Sentence 2 </th> <th> Proposed connectives </th> <th> Must-not haves </th> </tr>
                <tr>
                    <td> <input type="text" class="form-control" placeholder="Sentence 1" name="cd_sentence0_0" value="@exp.getCDS(0).getSentence1()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Sentence 2" name="cd_sentence0_1" value="@exp.getCDS(0).getSentence2()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Proposed connectives" name="cd_sentence0_2" value="@exp.getCDS(0).proposedString"> </td>
                    <td> <input type="text" class="form-control" placeholder="Must-not haves" name="cd_sentence0_3" value="@exp.getCDS(0).getMustNotHaves()"> </td>
                </tr>
                <tr>
                    <td> <input type="text" class="form-control" placeholder="Sentence 1" name="cd_sentence1_0" value="@exp.getCDS(1).getSentence1()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Sentence 2" name="cd_sentence1_1" value="@exp.getCDS(1).getSentence2()"> </td>
                    <td> <input type="text" class="form-control" placeholder="Proposed connectives" name="cd_sentence1_2" value="@exp.getCDS(1).proposedString"> </td>
                    <td> <input type="text" class="form-control" placeholder="Must-not haves" name="cd_sentence1_3" value="@exp.getCDS(1).getMustNotHaves()"> </td>
                </tr>
            </table>
        </div>



        <label style="margin-top:14px; margin-bottom:14px;">Input Type:</label>
        <table width="50%">
            <tr>
                <th><input type="radio" name="methode" value="csv" id="fileupload" > Upload CSV
                <th><input type="radio" name="methode" value="text" id="textinput" checked> Text Input</th>
            </tr>
            <tr> <td> <div id="filediv"> <input name="datei" id="datei" type="file" accept="text/comma-separated-values"> </div> </th> </td> </tr>
        </table> <br>


        <p></p>
        <div class="form-group" id="allquestions">

            @for(part <- exp.getParts()){
            <script type="text/javascript"> addPart(); </script>
            @for(pair <- part.getPairs()){
            @defining(pair.getPair){sent=>
            <script type="text/javascript"> setBox1("@sent(0)"); </script>
            <script type="text/javascript"> setBox2("@sent(1)"); </script>
            <script type="text/javascript"> addBox(); </script>
            }
            }
            }
            <br>
        </div>

        <div style="margin-top: 10px;">
            <input type="button" class="btn btn-default" onclick="addPart()" value="New Part">
            <button type="submit" href="preview/@exp.getId()" class="btn btn-default"  style="float:right;"
                    onclick="saveExp(document.form.name.value,document.form.description.value)" >Save changes in Database</button>
        </div>
    </div>


</form>
*****@
}