@(experimentNames : java.util.List[String])

@main("Create New Experiment"){
    <style>
        .navBox {
            height: 250px;
            width: 250px;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            font-size:15px;
            line-height: 45px
        }
        .experiment-selection {
            background-color: rgba(74, 74, 74, 0.6);
        }
        html > body {
            height: inherit;
        }
        .navBox > b {
            line-height: initial;
        }
    </style>
    <script>
        function exportExperimentType(name){
            bootbox.confirm("Are you sure you want to export this experiment type?", function(result) {
                if(result){
                    window.location.href = "/exportExperimentType?experimentName=" + name;
                }
            });
        }
        function deleteExperimentType(name){
            bootbox.confirm("Are you sure you want to delete this experiment type? It will not be possible to restore it afterwards.", function(result) {
                if(result){
                    window.location.href = "/deleteExperimentType?experimentName=" + name;
                }
            });
        }
        function copyExperimentType(oldExperimentType){
            bootbox.prompt("Base new experiment type on existing type: How do you want to name the new experiment type? (Names may only consist of alpha numeric characters!)", function(result) {
                if (result !== null) {
                    if(result.trim() != "" && /^[a-z0-9]+$/i.test(result.trim())){
                        var data = {
                            experimentType : "COPY",
                            newTypeName : result,
                            sourceTypeName : oldExperimentType.substring(0,oldExperimentType.length - "Experiment".length),
                            questionFields : []
                        };
                        var stringData = JSON.stringify(data);
                        $.ajax({
                            type: "POST",
                            url : "/createNewExperimentType",
                            data : stringData,
                            contentType: "application/json"
                        }).done(function() {
                            bootbox.alert("Experiment type created. You will now be able to edit the fields associated to items!", function() {
                                window.location.href = "/changeExperimentFields?experimentName=" + result;
                            });
                        }).fail(function(data) {
                            bootbox.alert("Could not create experiment: " + data.responseText);
                        })
                    }else{
                        bootbox.alert("Error! New type name is either empty or non alphanumeric.");
                    }
                }
            });
        }
        function zoomPicture(path){
            bootbox.dialog({
                message: "<img style='display: block;margin: 0 auto; width: 100%' src='" + path + "'>",
                backdrop: true,
                onEscape: function() {}
            });
        }
    </script>

    <div class="row" style="padding-bottom:30px">
        <p style="font-size: 16px; font-weight:600; margin-bottom:20px; text-align: center;">Which kind of experiment do you want to create?</p>
        <div style="display:inline-block; text-align:center">
            <a href="/experimentCreationInterface" class="noLinkColor">
                <div class="experiment-selection navBox" style="background-color: rgba(255, 254, 254, 0.41) !important;">
                    <b>Create new experiment type</b><br/>
                </div>
            </a>
            @for(experimentName <- experimentNames){
            <a href="/createExperiment?name=@experimentName" class="noLinkColor">
                <div class="experiment-selection navBox">
                    <b>@experimentName.substring(0,experimentName.length() - "Experiment".length())</b><br/>
                    <div style="position:relative">
                        <img src="/assets/images/Experiments/@experimentName/preview.png" style="max-width: 200px; max-height: 150px" onerror="$(this).parent().hide()">
                        <span onclick="zoomPicture('/assets/images/Experiments/@experimentName/preview.png'); return false;" style="position: absolute; right: 22px; top: 5px; display: table; font-size: 20px" class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </div>
                    <div>
                        <span title="Base new experiment type on existing type" onclick="copyExperimentType('@experimentName'); return false;" class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                        <span title="Delete experiment type" onclick="deleteExperimentType('@experimentName'); return false;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span title="Export experiment type" onclick="exportExperimentType('@experimentName'); return false;" class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
}
