@(experimentNames : java.util.List[String])

@main("Create New Experiment"){
    <p style="font-size: 1.2em;">Which kind of experiment do you want to create?<br></p>

    <div class="row" style="padding-bottom:30px">
        @for(experimentName <- experimentNames){
        <a href="/createExperiment?name=@experimentName" class="noLinkColor">
            <div class="experimentSelection navBox">
                <b>@experimentName</b><br/>
            </div>
        </a>
        }
    </div>

    <div style="margin-bottom:120px">
        <button class="btn btn-success" style="float:right" type="button" onclick="window.location='/experimentCreationInterface'">Create new experiment type</button>
    </div>
}
