@(question : models.Questions.Question, part : models.Groups.AbstractGroup, worker: Worker, assignmentId: String, hitId: String, turkSubmitTo: String, exp: LingoExpModel, df: play.data.DynamicForm, origin: String)
<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ExperimentRendering/PictureNamingExperiment/PictureNamingExperiment_render.js")"></script>
        <style>
        hr {
            border-style: solid none;
            border-width: 1px 0;
            margin-top: 25px;
            margin-bottom: 30px;
            border-color: darkgrey;
        }
        </style>
        <input type="hidden" id="origin" value="@origin">
        <input type="hidden" id="questionId" value="@question.getId()">
        <input type="hidden" id="importantChunk" value="-1">
    </head>
    <body style="height:100% " id="angularApp" ng-app="PictureNaming" ng-controller="RenderController as RC">
        <form method="POST" id="form" style="height:100%">
            <div style="height : 100% ; width : 100% ; display : table ;">
                <div style=" display : table-cell ; height : 100% ; vertical-align : middle ;">
                    <div id="instructionsSlide" class="panel panel-primary" style="width : 90% ; margin : auto">
                        <div class="panel-heading" style="font-weight : bolder ;">
                                Instruktionen
                        </div>
                        <div class="panel-body">
                            <strong>Herzlich Willkommen!</strong>
                            <br/><br/>
                            <p>Vielen Dank, dass Sie bereit sind, an unserer Fragebogenstudie
                            teilzunehmen! Sie unterstützen uns damit in unserem Forschungsprojekt im Sonderforschungsbereich <i>Information Density and Linguistic Encoding</i> an der Universität des Saarlandes. Bitte nehmen Sie nur teil, wenn Sie <b>deutsche/r Muttersprachler/in</b> sind.<br/>
                            Im Folgenden sehen Sie eine Reihe von Sätzen, zusammen mit Bildern. Die Sätze geben Ihnen einen Kontext für die Bilder. Bitte benennen Sie die Bilder jeweils möglichst intuitiv durch ein gut passendes Substantiv. Es geht nicht darum, dass Sie so kreativ wie möglich werden, schreiben Sie einfach auf, was Ihnen als erstes in den Sinn kommt.
                            Die Bearbeitung wird etwa 10 Minuten in Anspruch nehmen.</p>
                            Die Daten werden anonym erfasst und nur für wissenschaftliche Forschungszwecke ausgewertet.
                            <br/>
                            <label style="margin-top:20px;">Beispiel:</label>
                            <hr style="margin-top:10px;"/>
                            Anton wollte umziehen, um näher bei seiner Freundin zu wohnen. Weil er ohnehin von zuhause aus arbeitete, entschloss er sich, nach Wien zu ziehen.
                            <img src="/assets/images/pictureNaming/example.jpg" style="max-width: 320px; max-height: 320px; display: block;margin: 0 auto;">
                            <input class="form-control textInput" disabled="disabled" value="Umzugswagen">
                            <hr/>
                            <button id="instructions" ng-click="RC.instructionsFinished()" type="button" class="btn btn-default" style="float : right ; margin-top : 20px">Next</button>
                        </div>
                    </div>

                    <div id="workerIdSlide" class="panel panel-primary" style="width : 90% ; margin : auto ; display : none">
                        <div class="panel-heading" style="font-weight : bolder ;">
                                Bitte geben sie hier ihre AccountID ein:
                        </div>
                        <div class="panel-body">
                            <input id="workerId" ng-model="RC.workerId" name="workerId" type="text" class="form-control textInput" placeholder="enter here">
                            <button id="workerIdButton" type="button" disabled="disabled" class="btn btn-default" style="float : right ; margin-top : 20px">Next</button>
                        </div>
                    </div>

                    <div ng-if="RC.currentChunk == $index" class="chunk" style="display:none" ng-repeat="chunk in RC.chunks">
                        <div class="panel panel-primary pictureSlide" style="width : 90% ; margin : auto; display:none" ng-repeat="picture in chunk.pictures">
                            <div class="panel-heading" style="font-weight : bolder ;">
                                <div><strong style="">{{$index + 1}} / {{RC.chunks[RC.currentChunk].pictures.length}}</strong></div>
                            </div>
                            <div class="panel-body" style="width:100%">
                                <span style="display: block;margin-top:15px">{{picture.text}}</span>
                                <img ng-src="/assets/images/pictureNaming/{{picture.fileName}}_{{RC.part.number}}.png.jpg" style="max-width: 350px; max-height: 350px; display: block;margin: 0 auto;margin-top:15px">

                                <label style="margin-top:20px">Antwort hier eingeben:</label>
                                <input class="form-control textInput" ng-model="picture.answer">
                                <button ng-click="RC.nextPicture($index)" type="button" disabled="disabled" class="btn btn-default" style="float : right ; margin-top : 20px">Next</button>
                            </div>
                        </div>
                    </div>

                    <div id="chunkEnd" class="panel panel-primary" style="width : 90% ; margin : auto ; display : none">
                        <div class="panel-heading">
                                Endnotiz
                        </div>
                        <div class="panel-body">
                            Sie haben nun erfolgreich den ersten Teil abgeschlossen. Sie können nun die Studie abschließen, oder freiwilig noch einen weiteren Teil durchführen, um unsere Forschung zu unterstützen.
                            <hr/>
                            <button onclick="$('#chunkEnd').hide();$('#statistics').show()" style="" class="btn btn-default">Studie abschließen</button>
                            <button ng-click="RC.nextChunk()" style="float:right" class="btn btn-default">Noch ein weiterer Teil</button>
                        </div>
                    </div>

                    <div id="statistics" class="panel panel-primary" style="width : 90% ; margin : auto ; display : none">
                        <div class="panel-heading">
                            Endnotiz
                        </div>
                        <div class="panel-body" ng-if="RC.origin == 'mail'">
                            Als kleines Dankeschön können Sie einen von drei 25€ Amazon Gutscheinen gewinnen. Um an der Verlosung teilzunehmen geben Sie einfach Ihre Emailadresse an, bevor Sie die Befragung schließen. Die Emailadresse wird natürlich nicht in Zusammenhang mit den Daten gebracht.
                            <br/>
                            <label style="margin-top:20px">E-Mail-Adresse:</label>
                            <input id="mailAddress" name="mailAddress" class="form-control" ng-model="RC.mail">
                            <button id="submitButton" type="button" class="btn btn-default" style="float : right ; margin-top : 20px">Submit</button>
                        </div>
                        <div class="panel-body" ng-if="RC.origin == 'prolific'">
                            Vielen Dank für Ihre Teilname an dieser Studie. Sie haben nun erfolgreich alle Teile abgeschlossen. Bitte drücken Sie auf "Submit" um ihre Ergebnisse zu übermitteln.
                            <button id="submitButton" type="button" class="btn btn-default" style="float : right ; margin-top : 20px">Submit</button>
                        </div>
                        <div class="panel-body" ng-if="RC.origin != 'prolific' && RC.origin != 'mail'">
                            Vielen Dank für Ihre Teilname an dieser Studie. Bitte wenden Sie sich nun an den/die KoordinatorIn der Studie.
                        </div>
                    </div>
                    <div id="mailSuccess" class="panel panel-primary" style="width : 90% ; margin : auto ; display : none">
                        <div class="panel-heading">
                            Studie abgeschlossen.
                        </div>
                        <div class="panel-body" >
                            Ihre E-Mail-Adresse erfolgreich übermittelt. Sie können die Studie nun schließen.
                        </div>
                    </div>
                    <div id="errorSlide" class="panel panel-danger" style="width : 90% ; margin : auto ; display : none">
                        <div class="panel-heading">
                                Error!
                        </div>
                        <div class="panel-body">
                            <strong>Error!</strong>
                            Some internal error happened.<br/>
                            Please report this incident to: florian.pusse@@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </body>
</html>